:root{
    --semi-white:#f2f2f2;
    --blacky:black;
    --container-padding:2rem 1rem;
    --font-fam:'Bitter', serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--semi-white);
    font-family: var(--font-fam);
}
nav{
    width: 100%;
    padding:var(--container-padding);
    background-color: var(--semi-white);
}
.nav .nav__list{
    display: flex;
    justify-content: space-evenly;
    color: var(--blacky);
}
.nav__list li{
    list-style: none;
}
.nav__links{
    color: var(--blacky);
    text-decoration: none;
    font-weight: bold;
    background-image: linear-gradient(black,black);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: 0.35s ease-in-out;
    padding-bottom: 5px;
}
.nav__links:hover{
    background-size: 100% 3px;
}

/* Header main content */

.container__main{
    padding: var(--container-padding);
    display: grid;
    grid-auto-rows:auto;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    -webkit-box-shadow: 5px 7px 10px -6px rgba(173,173,173,1);
    -moz-box-shadow: 5px 7px 10px -6px rgba(173,173,173,1);
    box-shadow: 5px 7px 10px -6px rgba(173,173,173,1);
    padding: var(--container-padding);
    border-radius: 10px;
}
.container__figure{
    width: 100%;
    height:100%;
}
.container__img{
    object-fit: cover;
  
    height: 100%;
    width: 100%;
    border-radius: 10px;
    filter: grayscale(100%);
}
.container__description{
    place-self: center;
    padding: 10px;
}
.description__name{
    font-size: 2rem;
}
.description__position{
    font-size: 3rem;
}
